@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.link {
    font-size: 1.2rem;
    color: red;
    text-decoration: none;
    font-family: 'Nosifer', sans-serif;
    transition: text-shadow 0.3s ease-in-out;
}
  
  .link:hover {
    text-shadow: 0 0 5px red, 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.5);
}